<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>About GlabCoin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    {% include 'header.html' %}
    <div class="container">
        <h1>About GlabCoin</h1>
        <p>GlabCoin is an innovative cryptocurrency born from the fusion of two Danish words — gab and klappe —
            symbolizing the community spirit of chatting and applause. Designed as a promotional token for the popular
            streamer VenomGlab, GlabCoin embodies the energy and enthusiasm of his vibrant fanbase.<br><br>
            Developed by the talented creator qiTsuk, GlabCoin aims to bridge the gap between digital entertainment and
            decentralized finance, offering fans a unique way to engage and support their favorite streamer. Leveraging
            realistic price dynamics and a steadily growing supply, GlabCoin showcases the fun side of crypto with a
            playful yet authentic approach.<br><br>
            Whether you’re a crypto enthusiast or a fan of VenomGlab’s streams, GlabCoin invites you to be part of a
            growing community that celebrates connection, excitement, and innovation.
    </div>
    <div class="disclaimer">This is definitely not a scam coin.</div>
</body>

</html>